$primaryBackGroundColor: linear-gradient(302deg, rgba(178, 171, 233, 1) 0%, rgba(27, 36, 134, 1) 100%);
$deepKoamaru: rgba(48, 51, 107,1.0);
$violetColor: rgba(19, 32, 179, 1);
$deepCove: rgba(19, 15, 64,1.0);
$magentaPurple: rgba(109, 33, 79,1.0);
$draculaOrchid: rgba(45, 52, 54,1.0);
$prunusAvium: rgba(232, 67, 147,1.0);
$skyMoment: rgba(162, 155, 254,1.0);
$pureApple: rgba(106, 176, 76,1.0);
$pinkGlamour: rgba(255, 121, 121,1.0);
$turbo: rgba(249, 202, 36,1.0);
$sourLemon: rgba(255, 234, 167,1.0);
$beekeeper: rgba(246, 229, 141,1.0);
$cityLights: rgba(223, 230, 233,1.0);
$white: rgba(245, 246, 250, 1);
$hintOfPensive: rgba(220, 221, 225,1.0);
$black: rgba(0, 0, 0, 1);
$nasturcianFlower: rgba(232, 65, 24,1.0);

// Set default margin: 0 - padding: 0 - boxSizing
@mixin default{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Create elemet weight - height - color - boxShadow: true - false
@mixin scale($weight: 0px, $height: 0px, $color: none, $boxShadow: false, $colorShadow: grey){
    width: $weight;
    height: $height;
    background: $color;
    @if $boxShadow {
        box-shadow: 1px 1px 10px $colorShadow;
    }
}

// Config border px - radius - color
@mixin border($px: none, $radius: 0px, $color: black){
    border: $px solid $color;
    border-radius: $radius;
}

// Config position element top - left
@mixin marginPosition($top: 50%, $left: 50%){
    position: absolute;
    top: $top;
    left: $left;
    transform: translate(-$left, -$top);
}

// Config text fontSize - color - fontWeight - textShadow
@mixin text1($fz: 1rem, $color: black, $fw: 500, $textshadow: false){
    font-size: $fz;
    color: $color;
    font-weight: $fw;
    cursor: default;
    text-align: center;
    @if $textshadow {
        text-shadow: 1px 1px 2px black;
    }
}

// Config button padding - colorText - colorBackGround
@mixin button1($padding: 0px 0px, $colorT: $white, $colorBg: none){
    cursor: pointer;
    outline: none;
    padding: $padding;
    color: $colorT;
    background-color: $colorBg;
    border: none;
}

// Control child element center
@mixin controlElement($redirect: false, $justify: center, $align: center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    @if $redirect {
        flex-direction: column;
    }
}

// Config input classic
@mixin input($width: 50%, $height: 10%){
    width: $width;
    height: $height;
    border: none;
    outline: none;
    padding-left: 3%;
}

// Callback animation
@mixin animation($name, $duration, $fillMode: true, $timing: linear){
    animation-name: $name;
    animation-duration: $duration;
    animation-timing-function: $timing;
    @if $fillMode{
        animation-fill-mode: forwards;
    }
}

// Animation drop down
@keyframes showDown {
    0% {
        @include marginPosition(-100%, 50%);
    }
    100% {
        @include marginPosition(30%);
    }
}

// Animation show from hidden to visible
@keyframes showVisible {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// Animation hidden to top
@keyframes hidePopup {

    0%{
        @include marginPosition();
    }
    100%{
        @include marginPosition(-100%, 50%);
    }
    
}

// Animation ratation icon
@keyframes rotation {

    0%{
        transform: rotate(-160deg);
    }

    100%{
        transform: rotate(0deg);
    }

}

@mixin button($pd: 10px 20px, $bg: default, $fw: bold){
    padding: $pd;
    background-color: $bg;
    font-weight: $fw;
    outline: none;
    cursor: pointer;
}

@mixin text($fz: 1rem, $color: white, $fw: bold, $upper: lowercase){
    font-size: $fz;
    color: $color;
    font-weight: $fw;
    text-transform: $upper;
}

// Custom scrollbar
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.customPage{
    position: relative;
    width: 95%;
    height: 80vh;
    margin: 5vh auto;
    overflow-x: auto;
    background-color: $white;
    padding: 0 5%;
    border-radius: 5px;
    box-shadow: 0 0 3px grey;
}

.customTable{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-top: 90px;
    border: 2px solid rgba(220, 221, 225, 1);
    border-collapse: collapse;

    .table-head{

        th{
            padding: 20px 10px;
            background: rgba(127, 143, 166, .5);
            border: 2px solid rgba(220, 221, 225, 1);
            border-collapse: collapse;
        }
    }

    .table-body{

        td{
            padding: 5px 2.5px;
            border: 2px solid rgba(220, 221, 225, 1);
            border-collapse: collapse;
        }
    }
}

.customBtnTable{
    @include button(4px 5px, default, bold);
    border-radius: 3px;
    border: none;
    color: $white;
    background-color: rgba(76, 209, 55, .8);
}

.customBtnCreate{
    position: absolute;
    right: 7%;
    @include button(5px 10px, rgb(98, 175, 238), normal);
    border: none;
    color: $white;
    border-radius: 5px;
}

.customHeaderUser{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    
    .header-user_title{
        @include text(2rem, $black, bold, uppercase);
    }
}

.customCreateTitle{
    height: 70px;
    background-color: rgba(72, 126, 176, .5);
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin: 50px auto;
    border-radius: 5px;
}

.customBtnGroupCreate{
    margin: 50px 20px;
    width: 100px;
    @include button(10px 20px, $white, bold);
    border: 1px solid $black;
    border-radius: 5px;
}

// Responsive device - 1440px - 1024px - 768px - 480px
@mixin response($px: 1024px, $fz: 1rem){
    @media only screen and (max-width: $px){
        font-size: $fz;
        @content;
    }
}