@import '_variables.scss';

.container-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $blue;

    .navbar{
        width: 100%;
        display: flex;
        padding-left: 100px;
    
        li{
            list-style-type: none;
            padding: 20px 10px;
            border-right: 1px solid $white;
            color: $white;
            font-weight: bold;
            cursor: pointer;
        }
    }

    form{
        padding-right: 100px;
        
        button{
            @include button();
            border: none;
            border-radius: 5px;
        }
    }
}

