@import 'variables.scss';

#comp_paginate{
    display: flex;
    align-items: center;
    margin-top: 15px;

    div{
        margin: 0 5px;
    }

    #pre-page{
        @include button(3px 7px, rgba(0, 168, 255, 1));
        border: none;
        border-radius: 3px;
        color: $white;
    }

    #next-page{
        @extend #pre-page;
        background-color: $nasturcianFlower;
        color: yellow;
    }
}