@-webkit-keyframes showDown {
  0% {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, 100%);
  }
  100% {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
  }
}
@keyframes showDown {
  0% {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, 100%);
  }
  100% {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
  }
}
@-webkit-keyframes showVisible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showVisible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hidePopup {
  0% {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, 100%);
  }
}
@keyframes hidePopup {
  0% {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, 100%);
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(-160deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(-160deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.customPage {
  position: relative;
  width: 95%;
  height: 80vh;
  margin: 5vh auto;
  overflow-x: auto;
  background-color: #f5f6fa;
  padding: 0 5%;
  border-radius: 5px;
  box-shadow: 0 0 3px grey;
}

.customTable {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin-top: 90px;
  border: 2px solid #dcdde1;
  border-collapse: collapse;
}
.customTable .table-head th {
  padding: 20px 10px;
  background: rgba(127, 143, 166, 0.5);
  border: 2px solid #dcdde1;
  border-collapse: collapse;
}
.customTable .table-body td {
  padding: 5px 2.5px;
  border: 2px solid #dcdde1;
  border-collapse: collapse;
}

.customBtnTable {
  padding: 4px 5px;
  background-color: default;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  color: #f5f6fa;
  background-color: rgba(76, 209, 55, 0.8);
}

.customBtnCreate {
  position: absolute;
  right: 7%;
  padding: 5px 10px;
  background-color: #62afee;
  font-weight: normal;
  outline: none;
  cursor: pointer;
  border: none;
  color: #f5f6fa;
  border-radius: 5px;
}

.customHeaderUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.customHeaderUser .header-user_title {
  font-size: 2rem;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.customCreateTitle {
  height: 70px;
  background-color: rgba(72, 126, 176, 0.5);
  color: #f5f6fa;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  margin: 50px auto;
  border-radius: 5px;
}

.customBtnGroupCreate {
  margin: 50px 20px;
  width: 100px;
  padding: 10px 20px;
  background-color: #f5f6fa;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a29bfe;
}
.navbar-container .navbar {
  width: 100%;
  display: flex;
  padding-left: 100px;
}
.navbar-container .navbar li {
  list-style-type: none;
  padding: 20px 10px;
  border-right: 1px solid #f5f6fa;
  color: #f5f6fa;
  font-weight: bold;
  cursor: pointer;
}
.navbar-container form {
  padding-right: 100px;
}
.navbar-container form button {
  padding: 10px 20px;
  background-color: default;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
