@import '../variables.scss';

#category-page{
    @extend .customPage;

    .header-user{
        @extend .customHeaderUser;
    }

    #btn-create-category{
        @extend .customBtnCreate;
        margin-top: 5vw;
    }

    .table{
        @extend .customTable;

        .table-body{

            #btn-category-copy{
                @extend #btn-category-update;
                background-color: rgba(156, 136, 255, .8);
            }

            #btn-category-update{
                @extend .customBtnTable;
            }

            #btn-category-delete{
                @extend #btn-category-update;
                background-color: rgba(232, 65, 24, .8);
            }
        }
    }
}